@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #171126;
    color: #f8fafc;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.react-icons {
    transition: ease-in .2s;
}

.react-icons:hover{
    color: #c770f0;
}
